/* Обнуление отступов и размеров по умолчанию */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Удаление списочных маркеров и выравнивание списка */
ul,
ol {
  list-style: none;
}

/* Удаление подчеркивания ссылок и установка цвета */
a {
  text-decoration: none;
  color: inherit;
  transition: all .3s ease;
}

a:hover {
  opacity: 0.8;
}

/* Сброс стилей для изображений */
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Убираем лишний скролл и применяем глобальный бекграунд */
html,
body {
  background-color: #121214;
}

/* Установка базового шрифта */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #FFFFFF;
}

/* Обнуление стилей кнопок и инпутов */
button,
input,
textarea {
  font: inherit;
  border: none;
  background: none;
  outline: none;
  color: #FFFFFF;
}

button {
  cursor: pointer;
  transition: all .3s ease;
}

button:hover {
  opacity: 0.8;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

.header__nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav-controls {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__nav-btn--signup {
  padding: 8px 20px;
  background-color: #FFFFFF;
  border-radius: 32px;
  color: #000000;
}

.banner {
  background-color: #0033FF;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}

.banner__text {
  margin-right: 16px;
}

.hero {
  position: relative;
  z-index: 1;
  padding-top: 140px;
  padding-bottom: 16px;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero__title {
  max-width: 513px;
  font-size: 72px;
  line-height: 72px;
  font-weight: 400;
}

.hero__subtitle {
  margin-top: 26px;
  margin-bottom: 44px;
  max-width: 412px;
  font-size: 20px;
  line-height: 24px;
}

.hero__btn {
  padding: 16px 32px;
  background-color: #0033FF;
  border-radius: 8px;
  color: #FFFFFF;
  margin-bottom: 150px;
}

.hero__more {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.hero__more:hover .hero__more-icon {
  transform: translateY(-4px);
}

.hero__more-icon {
  transition: transform 0.3s ease;
}


.category {
  margin-top: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  }


.categories__text {
  display: flex;
  flex-direction: column;
}

.categories__text-right {
  text-align: right;
  align-items: flex-end;
}

.categories__text-category {
  font-size: 12px;
  color: #A6A8AD;
  padding-bottom: 5px;
  text-transform: uppercase;
  }

.categories__text-headline {
  font-size: 28px;
  padding-bottom: 12px;
}

.categories__text-description {
  padding-bottom: 18px;
  max-width: 441px;
}

.categories__text-btn {
  padding: 5px 20px 7px 20px;
  background: #0033FF;
  max-width: fit-content;
  border-radius: 8px;
  color: #FFFFFF;
}

.categories__image {
  max-width: 580px;
}


.reviews {
  display: flex;
  flex-direction: column;
  margin-top: 120px;
  margin-bottom: 120px;
}

.reviews__headline {
  font-size: 28px;
  padding-bottom: 24px;
}

.reviews__cards-list {
  display: flex;
  gap: 10px;
}

.reviews__cards-item {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  background-color: #F8F8F8;
  justify-content: space-between;
  padding: 32px 44px 32px 32px;
}


.reviews__cards-img {
  max-width: 223px;
  margin: 0 auto 30px auto;
}

.reviews__cards-text {
  font-size: 20px;
  color: #000000;
  max-width: 285px;
  margin-bottom: 16px;
}

.reviews__cards-author {
  font-size: 14px;
  color: #767676;
}


.cta {
  height: 728px;
  padding-top: 283px;
  padding-bottom: 288px;
  background-image: 
  url(../assets/img/cta_bg.png),
  url(../assets/img/cta_bg.png);
  background-position: 
  left center,
  right center;
  background-size: 
  33.33% cover,
  66.67% cover;
  background-repeat: no-repeat;
}
.cta__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 57px;
}

.cta__content-headline {
  font-size: 54px;
  text-decoration: none;
  font-weight: normal;
}

.cta__content-btn {
  background: #0033FF;
  padding: 8px 20px;
  border-radius: 8px;
}

.footer__nav {
  margin-top: 48px;
  margin-bottom: 60px;
}

.footer__nav-list {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

.footer__nav-list li:first-child {
  display: flex;
  flex-direction: column;
  max-width: 168px;
  gap: 24px;
}

.footer__nav-item--first {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.footer__nav-item--first a:first-child {
  font-size: 20px;
  color: #FFFFFF;
  margin-bottom: 1px;
}

.footer__nav-item {
  display: flex;
  flex-direction: column;
  max-width: 140px;
  gap: 11px;
}

.footer__nav-item a:first-child {
  font-size: 20px;
  margin-bottom: 1px;
  color: #FFFFFF;
}

.footer__nav-link {
  font-size: 12px;
  color: #A6A8AD;
}

.footer__nav-info {
  margin-top: 83px;
  display: flex;
  gap: 24px;
}

.footer__nav-info a:last-child {
  margin-left: 6px;
}