* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ul,
  ol {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: inherit;
    transition: all .3s ease;
  }
  
  a:hover {
    opacity: 0.8;
  }

  button {
    font-size: 16px;
    text-align: center;
  }

  button:hover {
    opacity: 0.8;
  }

  body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: #121214;
  }
  
  .header {
    padding: 17px 23px 19px 20px;
  }

  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__nav-list {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .header__nav-item:first-of-type {
    padding: 2.5px 9px 2.5px 0;
  }

  .header__nav-item {
    color: #A6A8AD;
    font-size: 16px;
  }

  .header__nav-controls {
    display: flex;
    align-items: center;
    gap: 20px;
  }


  .header__nav-btn--login {
    padding: 7.5px 0 7.5px 0;
    color: #A6A8AD;
    background: none;
    border: none;
  }

  .header__nav-btn--signup {
    color: #121214;
    background: #FFFFFF;
    border: 1px #FFFFFF;
    border-radius: 32px;
    padding: 8px 21px 8px 21px;
  }

  .banner {
    background: #0033FF;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 0 11px 0;
  }

  .banner__text {
    color: #FFFFFF;
    font-size: 16px;
    padding: 0 40px 0 40px;
    text-align: center;
  }

  .banner__btn {
    background:none;
    border: none;
    color: #FFFFFF;
  }

  .hero {
    width: 100%;
    height: 744px;
    background-image: url(../assets//img/hero_bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-position: bottom; */
    padding: 140px 0 15px 0;
    display: flex;
    flex-direction: column;
    gap: 150px;
  }

  .hero__section {
    display: flex;
    flex-direction: column;
    padding-left: 48px;
    color: #FFFFFF;
    align-items: left;
  }

  .hero__section-headline {
    font-size: 72px;
    padding-bottom: 26px;
  }

  .hero__section-description {
    font-size: 20px;
    padding-bottom: 44px;
  }

  .hero__section-btn {
    padding: 16px 32px 16px 32px;
    background-color: #0033FF;
    color: #FFFFFF;
    border-radius: 8px;
    border: 1px #0033FF;
    max-width: fit-content;
  }

  .hero__controls {
    display: flex;
    flex-direction: column;
    gap: 17px;
    align-items: center;
    /* justify-content: center; */
    color: #FFFFFF;
  }

  .hero__controls-link--icon {
    display: absolute;
  }


  .categories {
    padding: 96px 48px 0 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    }

  .categories__text {
    display: flex;
    flex-direction: column;
    gap: 0px;
    color: #FFFFFF;
  }
  .categories__text-category {
    font-size: 12px;
    color: #A6A8AD;
    margin-bottom: 5px;
    text-transform: uppercase;
    }

  .categories__text-headline {
    font-size: 28px;
    margin-bottom: 12px;
  }

  .categories__text-description {
    margin-bottom: 18px;
  }

  .categories__text-btn {
    padding: 5px 20px 7px 20px;
    background: #0033FF;
    max-width: fit-content;
    border-radius: 8px;
    color: #FFFFFF;
  }

  .categories__image {
    width: 580px;
    height: 386px;
  }

